/* Font Imports */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Footlight MT Light";
  src: url("/assets/fonts/Footlight\ MT\ Light.TTF");
}
@font-face {
  font-family: "Embassy BT";
  src: url("/assets/fonts/EmbassyBT.ttf");
}

:root {
  /* Color */
  --primary-color: black;
  --secondary-color: grey;

  /* Background Color */
  --secondary-background-color: gainsboro;

  /* Fonts */
  --primary-font: "Poppins", sans-serif;
  --logo-font: "Footlight MT Light", cursive;
  --punchline-font: "Embassy BT", cursive;
}

/* Starter Designs */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Utility Classes */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.section {
    min-height: 100vh;
}

/* Designing starts here */

.nav {
    position: fixed;
    padding: 30px 0px;
    justify-content: space-around;
    width: 100vw;
    flex-wrap: wrap;
    z-index: 1;
    background-color: white;
}

.nav-shadow {
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.3);
}

.nav-logo {
    font-family: var(--logo-font);
    font-size: 25px;
    color: var(--primary-color);
}

.nav-logo-img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.nav-link-button {
    display: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-link {
  position: relative;
  margin: 0px 20px;
  overflow: hidden;
}

.nav-link > span {
    position: absolute;
    height: 1px;
    width: 0;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.5s ease;
}

.nav-link:hover > span {
    width: 100%;
    transform: translateX(0%);
}

.link-active > span {
    width: 100%;
    transform: translateX(0%);
}

.nav-link-anchor {
    color: var(--primary-color);
}

.home {
    position: relative;
    overflow: hidden;
}

.home-content {
    flex-basis: 50%;
    min-height: 100%;
    padding-left: 10vw;
    align-items: flex-start;
}

.alignment-div {
    flex-basis: 50%;
}

.home-content-sub-header {
  font-size: 30px;
  font-family: var(--punchline-font);
}

.home-content-header {
  font-size: 60px;
  line-height: 1.2;
}

.home-content-para {
  color: var(--secondary-color);
  margin: 20px 0px;
  text-align: justify;
}

.home-content-more-container {
  position: relative;
  overflow: hidden;
}

.home-content-more-container > span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  transform: translateX(-100%);
  transition: 0.5s ease;
  background-color: var(--primary-color);
}

.home-content-more-container:hover > span {
  width: 100%;
  transform: translateX(0%);
}

.home-content-more-button {
  color: var(--primary-color);
}

.abs-img {
    position: absolute;
    width: 52%;
    border-radius: 50%;
    z-index: -1;
}

.home-img {
  bottom: -200px;
  right: -100px;
}

.img-border {
    position: absolute;
    width: calc(52% + 20px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid grey;
    z-index: -3;
}

.home-img-border {
    bottom: -210px;
    right: -110px;
}

.border-breaker {
    position: absolute;
    z-index: -2;
    background-color: white;
    width: 40%;
    height: 50px;
}

.border-breaker-1 {
    bottom: 0;
    left: 40%;
}

.border-breaker-2 {
    height: 100px;
    bottom: 150px;
    left: 40%;
}

.border-breaker-3 {
    width: 30%;
    height: 300px;
    top: 100px;
    right: 0;
}

.services {
    position: relative;
    overflow: hidden;
}

.services-img {
    bottom: calc(100% - 200px);
    right: -100px;
}

.services-img-border {
    bottom: calc(100% - 210px);
    right: -110px;
}

/* Media queries for responsiveness */

/* Tablet View */
@media only screen and (max-width: 820px) {
    .nav {
        padding: 20px 0px;
        height: 80px; /* Total navbar height (135px) - nav-link-container height (55px) = 80px*/
        transition: 0.5s ease;
        box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.3);
  }

  .nav-active {
    height: 135px;
  }

  .nav-link-button {
    display: inline-block;
  }

  .nav-link-button-active {
    background-color: black;
    color: white;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }

  .nav-link-container {
    padding: 15px 0px;
    opacity: 0;
    transform: translateY(-50%);
    transition: 0.5s ease;
    pointer-events: none;
  }

  .nav-link-container-active {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: all;
  }

  .home-content-header {
    font-size: 50px;
  }
  
  .home-img {
      bottom: 300px;
      right: -100px;
    }
    
    .home-img-border {
        bottom: 290px;
        right: -110px;
    }
    
    .services-img {
        display: none;
    }
    
    .services-img-border {
        display: none;
    }
}

/* Mobile View */
@media only screen and (max-width: 450px) {
    .nav-link {
        margin: 0 10px;
    }

    .home-content-header {
        font-size: 40px;
    }

    .home-content-para {
        font-size: 14px;
    }
}